@import "../../base";

.orderListContainer {
  height: 100%;

  .withDataContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .top {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      text-transform: uppercase;
      padding: 16px;
      border-bottom: 1px solid $coal2;
      font-weight: 700;
    }
  }

  .withoutDataContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
}